Backup_2025-09-17/calender event  bot.json

{
  "createdAt": "2025-09-16T12:30:51.756Z",
  "updatedAt": "2025-09-16T14:17:32.000Z",
  "id": "3ctq6kjipGMdqxAS",
  "name": "calender event  bot",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger1').item.json.message.chat.id }}",
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        800,
        320
      ],
      "id": "102495e0-c2ca-4dd3-952f-d0143838a7d1",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger1').item.json.message.from.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1648,
        96
      ],
      "id": "dd78a8f5-4200-4b7b-bda8-3788069d0e13",
      "name": "Send a text message",
      "webhookId": "2f0f9e6a-0144-4a1f-b356-06876d501a99",
      "credentials": {
        "telegramApi": {
          "id": "v5ChfiwhJ9VruX1M",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {
          "download": true
        }
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -448,
        96
      ],
      "id": "4e9c8e09-8392-400c-b35c-47dcdf93f590",
      "name": "Telegram Trigger1",
      "webhookId": "8d25558a-89f6-48c7-9884-05e85b8bbca6",
      "credentials": {
        "telegramApi": {
          "id": "v5ChfiwhJ9VruX1M",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=## AI Agent Instructions \n\nYou are an AI assistant**  designed to manage calendar You events for the user. \nYour capabilities include: \n- **Creating events** \n- **Retrieving events** \n- **Updating events** \n- **Deleting events** \n- **get mail** \n\n\n### Important Guidelines: \n1. **Always provide a name for the event** when asked to create one. \n2. **To update or delete an event, you must first retrieve the event ID* using the \"get event\" tool. \n- Without the ID, you cannot successfully edit or delete events. \n\nin order to schedule event make use of get mail tool node attached and extract the gmails from the node and if there are multiple or even one ask the user to consider which one  \ndo not include body of the mail just give user with the name and email(do not say anything extra like we found 2 mails from same mail id )\n\nonce the user confirms then schedule the meeting with the selected mail\n\n3. Current time reference: `{{ $now }} \n\n### User Input: \n{{ $json.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        984,
        96
      ],
      "id": "87abed02-bd16-4fe5-9495-52dbc96a63a9",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "5c114053-3d77-4307-9692-f3b94b51682a",
      "name": "Get a file",
      "webhookId": "1b8e3335-3d24-4253-81b4-23d8a1f5d837",
      "credentials": {
        "telegramApi": {
          "id": "v5ChfiwhJ9VruX1M",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        224,
        0
      ],
      "id": "364ac656-3e5e-48a3-a337-9e3a18a47e0c",
      "name": "Transcribe a recording",
      "credentials": {
        "googlePalmApi": {
          "id": "AYsyTrssgyAqK7ze",
          "name": "Sam-work"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b7ce7d03-9b2f-49fe-bcd4-e8249f6d6513",
              "name": "text",
              "value": "={{ $json.content.parts[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        0
      ],
      "id": "edfce07e-5acc-4f38-96eb-46f98620fec3",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8d9bfadc-7272-472f-813e-bb51a1454add",
              "name": "text",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        192
      ],
      "id": "192f37fa-f712-4bb9-933b-25c5f58bd1fc",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.voice }}",
                    "rightValue": "={{ $json.message.audio }}",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "90b15737-3d44-4749-81af-0a6063f47de8"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ff3cd7c6-ecc0-47ef-b8df-e5bbaf9fc4ed",
                    "leftValue": "={{ $json.message.chat }}",
                    "rightValue": "={{ $json.message.chat }}",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -224,
        96
      ],
      "id": "7b947336-4257-4861-8f53-4dc9dbbe4b1b",
      "name": "Switch"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        672,
        320
      ],
      "id": "0ab7d42e-85ab-4e22-a82c-e52c0e7a0834",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "CW6nOsDoAKhKGS2m",
          "name": "OpenAi account 5"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "manugowda6160@gmail.com",
          "mode": "list",
          "cachedResultName": "manugowda6160@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        928,
        320
      ],
      "id": "163b1364-1f9a-4710-9ab9-7a779e989dc5",
      "name": "Create an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "NjUF9YpTGQtUctp0",
          "name": "Manoj"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "manugowda6160@gmail.com",
          "mode": "list",
          "cachedResultName": "manugowda6160@gmail.com"
        },
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {
          "fields": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Fields', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1056,
        320
      ],
      "id": "22c133a1-db93-49f2-b0de-2431ea3f6ffe",
      "name": "Get many events in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "NjUF9YpTGQtUctp0",
          "name": "Manoj"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "manugowda6160@gmail.com",
          "mode": "list",
          "cachedResultName": "manugowda6160@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {
          "sendUpdates": "all"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1184,
        320
      ],
      "id": "edf13720-ff34-49ca-bf5e-68dd0a508610",
      "name": "Delete an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "NjUF9YpTGQtUctp0",
          "name": "Manoj"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "manugowda6160@gmail.com",
          "mode": "list",
          "cachedResultName": "manugowda6160@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "updateFields": {
          "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
          "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1312,
        320
      ],
      "id": "94be3645-cbad-4489-bd7c-955508e7fc47",
      "name": "Update an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "NjUF9YpTGQtUctp0",
          "name": "Manoj"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "filters": {
          "sender": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Sender', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        1440,
        320
      ],
      "id": "27288588-9460-473e-822f-5610a8014000",
      "name": "Get many messages in Gmail",
      "webhookId": "ae93c285-e9b8-417c-89d2-150d879458bd",
      "credentials": {
        "gmailOAuth2": {
          "id": "sfKownLmJYkSSWhx",
          "name": "Support Ritz7"
        }
      }
    }
  ],
  "connections": {
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Create an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get many events in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get many messages in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "c354b0bd-fcf9-469d-952e-6de4a1b0b582",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-09-16T12:30:51.760Z",
      "updatedAt": "2025-09-16T12:30:51.760Z",
      "role": "workflow:owner",
      "workflowId": "3ctq6kjipGMdqxAS",
      "projectId": "yyDWytJdzKNmkW82"
    }
  ],
  "tags": []
}