Backup_2025-09-17/Linkedin Posting Agent on Company Page: Ritz7.json

{
  "createdAt": "2025-07-17T11:31:36.056Z",
  "updatedAt": "2025-09-08T10:08:28.000Z",
  "id": "5SmSctBZzR0TFXo2",
  "name": "Linkedin Posting Agent on Company Page: Ritz7",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "postAs": "organization",
        "organization": "69459506",
        "text": "={{ $json.message.content }}",
        "shareMediaCategory": "IMAGE",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        3056,
        2752
      ],
      "id": "4a48054c-e71e-4da3-b1ab-35830bc987e2",
      "name": "Company Page: Post",
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "cHE2PrJAwTe7OCrP",
          "name": "Ritz7"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyHour"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1aWkQk4kkk_TYul4Nwx32dRRgLWG4KwKT",
          "mode": "list",
          "cachedResultName": "Posts",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1aWkQk4kkk_TYul4Nwx32dRRgLWG4KwKT"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        1984,
        2752
      ],
      "id": "8844c8b7-317a-4154-9f9f-8cbe661f0a73",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "KcbtjlSFnvbo8un5",
          "name": "Sagar - Google Credentials"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Google Drive Trigger').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2832,
        2752
      ],
      "id": "fa19ae72-8dd9-41fd-86f1-fc3d10ec5db8",
      "name": "Download file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "KcbtjlSFnvbo8un5",
          "name": "Sagar - Google Credentials"
        }
      }
    },
    {
      "parameters": {
        "content": "## Post on Your LinkedIN Company Page\n\n**1. Google Drive Node:** Get Post Image (Image Name describes the Post Description)\n**2. Open AI Node:** Create the post Text\n**3. Google Drive Download Node:** Download the Post image from drive to give  access to linkedin Node.\n**4. Linkedin Organization Node:** Get and upload the Post image with Text post.",
        "height": 640,
        "width": 1680,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1760,
        2336
      ],
      "typeVersion": 1,
      "id": "7b3d100b-6b69-42bb-8ed1-37355a3c283e",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "messages": {
          "values": [
            {
              "content": "=as you are a LinkedIN Post writer, write this description as it is  {{ $json.name }} give me Post text only as output.\n"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2368,
        2752
      ],
      "id": "fab188ae-aa47-4fa7-8113-d0c073833c28",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "FL8XU5lJVk1WjgA6",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "postAs": "organization",
        "organization": "104378185",
        "text": "={{ $json.message.content }}",
        "shareMediaCategory": "IMAGE",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        3056,
        2928
      ],
      "id": "6ff8f36b-49e0-4812-9c5b-e2d576e6b31b",
      "name": "Company Page: Post1",
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "cHE2PrJAwTe7OCrP",
          "name": "Ritz7"
        }
      }
    }
  ],
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file1": {
      "main": [
        [
          {
            "node": "Company Page: Post",
            "type": "main",
            "index": 0
          },
          {
            "node": "Company Page: Post1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Download file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Google Drive Trigger": {
      "lastTimeChecked": "2025-09-11T08:30:29Z"
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "5af90b7d-61b8-4fb8-8e38-9478419e8cde",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-07-17T11:31:36.061Z",
      "updatedAt": "2025-07-17T11:31:36.061Z",
      "role": "workflow:owner",
      "workflowId": "5SmSctBZzR0TFXo2",
      "projectId": "yyDWytJdzKNmkW82"
    }
  ],
  "tags": []
}